<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- CSS only -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
			crossorigin="anonymous"
		/>
		<title>Blog</title>
	</head>
	<body>
		<div class="container">
			<h1 class="mb-4">Member List</h1>
			<a href="/" class="btn btn-success">Home Page</a>
			<a href="member/login" class="btn btn-success">Login</a>
			<a href="member/register" class="btn btn-success">Register</a>
			<% members.forEach(member => { %>
			<div class="card mt-4">
				<div class="card-body">
					<h4 class="card-title"><%= member.username %></h4>
					<div class="card-subtitle text-muted mb-2"><%= member.email %></div>
					<!-- <a href="members/<%= member.slug %>" class="btn btn-primary"
						>Read More</a
					> -->
					<a
						href="members/edit/<%= member.id %>"
						class="btn btn-info text-white"
						>Edit</a
					>
					<form
						action="/members/<%=member.id%>?_method=DELETE"
						method="POST"
						class="d-inline"
					>
						<button type="submit" class="btn btn-danger">Delete</button>
					</form>
				</div>
			</div>
			<% }) %>
		</div>
	</body>
</html>
